<div class="teaser lab-teaser col-xs-24 col-md-8">
    <div class="teaser-inner">
        <div class="teaser-image">
            <img class="img-responsive" src="{{ site.baseurl }}{{ include.src }}"/>
        </div>
        <div class="teaser-content lab-teaser-content">
            <h2 class="teaser-headline">#{{ include.name }}</h2>
            <p class="teaser-copy">{{ include.txt }}</p>
            <strong class="teaser-copy">{{ include.adr }}</strong>
        </div>
        <div class="teaser-buttons-wrap">
            <a class="edu-btn black has-arrow" href="{{ include.link }}">Zur Website</a>
        </div>

    </div>
</div>
